* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Cursive;
}
h1 {
  text-align: Center;
  font-size: 40px;
  margin: 40px;
}
section {
  padding: 0 20px;
}
section > div {
  float: left;
  padding: 0 20px;
  display: relative;
  margin-bottom: 20px;
}
section div .inner {
  background-color: #999;
  border: 1px solid black;
  position: relative;
}
section div .inner > h2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 35px;
  border: 1px solid black;
}
section div .inner > p {
  clear: both;
  margin-top: 45px;
  padding: 15px 10px;
}
section div:nth-child(1) h2 {
  background-color: #d59898;
}
section div:nth-child(2) h2 {
  background-color: #c14543;
  color: white;
}
section div:nth-child(3) h2 {
  background-color: #e5d198;
}
/* Desktop Breakpoint */
@media (min-width: 992px) {
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/* Table Breakpoint */
@media (min-width:768px) and (max-width:991px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }

}

/* Mobile Breakpoint */
@media (max-width:767px) {
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }

}
